<div class="d-flex flex-row justify-content-between align-content-around h-100">
  <div [style.background-color]="'#F5F5F5'" [style.width]="'40%'">
    <form class="d-flex flex-column justify-content-center m-auto p-5 w-75 h-100">

      <h1>Definitely<br>not login.</h1>

      <mat-form-field appearance="outline">
        <mat-label><b>Definitely not</b> email</mat-label>
        <input matInput type="email"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label><b>Definitely not</b> password</mat-label>
        <input matInput type="password"/>
      </mat-form-field>

      <div class="button-container">
        <app-definitely-not-a-button [text]="'Login'"></app-definitely-not-a-button>
        <app-definitely-not-a-button [text]="'Sign up'" [routerLink]="'/register'"></app-definitely-not-a-button>
      </div>
    </form>
  </div>
  <div class="logo-container">
    <img src="assets/logo/definitely-not-a-logo.svg" width="90%">
  </div>
</div>
