<form [formGroup]="form">
  <mat-form-field>
    <input formControlName="email" matInput placeholder="Email">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['email'].untouched && form.controls['email'].errors">
    <mat-error *ngIf="form.controls['email'].errors['required']">
      Field is required
    </mat-error>
    <mat-error *ngIf="form.controls['email'].errors['email']">
      Invalid email
    </mat-error>
  </ng-container>
  <mat-form-field>
    <input formControlName="password" matInput placeholder="Password" type="password">
  </mat-form-field>
  <ng-container *ngIf="!form.controls['password'].untouched && form.controls['password'].errors">
    <mat-error *ngIf="form.controls['password'].errors['required']">
      Field is required
    </mat-error>
  </ng-container>
  <mat-form-field>
    <input formControlName="confirmPassword" matInput placeholder="Confirm password" type="password">
  </mat-form-field>
  <ng-container
    *ngIf="!form.controls['confirmPassword'].untouched && form.controls['confirmPassword'].errors">
    <mat-error *ngIf="form.controls['confirmPassword'].errors['required']">
      Field is required
    </mat-error>
    <mat-error *ngIf="form.controls['confirmPassword'].errors['mustMatch']">
      Password must match
    </mat-error>
  </ng-container>
    <mat-label>Phone *</mat-label>
    <mat-slider [displayWith]="formatLabel" thumbLabel min="100000000" max="999999999" aria-label="units"
                formControlName="phoneNumber"></mat-slider>
    <ng-container *ngIf="!form.controls['phoneNumber'].untouched && form.controls['phoneNumber'].errors">
      <mat-error *ngIf="form.controls['phoneNumber'].errors['required']">
        Field is required
      </mat-error>
    </ng-container>
    <button (click)="submit()">submit</button>
</form>
