<ng-container *ngIf="!loading">
  <div class="quiz-header-container d-inline-flex justify-content-between w-100 px-md-5">
    <p class="quiz-header">Definitely not a quiz</p>
  </div>

  <div class="content-wrapper d-inline-flex px-md-5 justify-content-between w-100">
    <div class="form-container">
      <label id="group-lable">{{currentQuestion.questionText}}</label>
      <mat-radio-group class="radio-group"
                       *ngIf="currentQuestion.isGrill"
                       [(ngModel)]="answer"
      >
        <mat-radio-button
          [value]="currentQuestion.option1"
          class="radio-button">
          {{currentQuestion.option1}}
        </mat-radio-button>
        <mat-radio-button
          [value]="currentQuestion.option2"
          class="radio-button">
          {{currentQuestion.option2}}
        </mat-radio-button>
        <mat-radio-button
          [value]="currentQuestion.option3"
          class="radio-button">
          {{currentQuestion.option3}}
        </mat-radio-button>
      </mat-radio-group>
      <textarea *ngIf="!currentQuestion.isGrill" [(ngModel)]="answer" [rows]="7"></textarea>
    </div>
    <div class="question-counter align-items-center justify-content-center">
      <div class="question-counter-content flex-column d-flex justify-content-around text-center h-50"
           style="margin-top: 50%">
        <p style="padding-right: 70px">{{index + 1}}</p>
        <div class="divider"><span></span></div>
        <p style="padding-left: 70px">{{questions.length}}</p>
      </div>
    </div>
  </div>
  <div class="arrow-container d-inline-flex justify-content-between align-items-center w-100 px-md-5">
    <button class="icon-wrapper" (click)="changeCurrentQuestion(index-1)"><img class="arrow-icon"
                                                                               src="assets/image/arrow_right.svg"
                                                                               alt="<-"/></button>

    <app-definitely-not-a-button (click)="checkAnswer()" text="CheckAnswer"></app-definitely-not-a-button>

    <button class="icon-wrapper" (click)="changeCurrentQuestion(index+1)"><img class="arrow-icon"
                                                                               src="assets/image/arrow_left.svg"
                                                                               alt="->"/></button>
  </div>
</ng-container>
